[submodule "vim/vundle"]
	path = vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vendor/prezto"]
	path = vendor/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "vendor/k"]
	path = vendor/k
	url = git@github.com:rimraf/k.git
[submodule "vendor/tpm"]
	path = vendor/tpm
	url = https://github.com/tmux-plugins/tpm
